body {
  background: url('./static/table-background.jpg');
  background-size: cover;
  overflow: hidden;
}

.table {
  height: 100%;
  width: 100%;
  position: relative;

  .btn {
    background-color: transparent;
    border: none;
    padding: 0;
    position: relative;
    cursor: pointer;

    >div {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      padding: 2px;
      font-weight: bold;
      font-size: 18px;
      color: #0f0;
      text-decoration: blink;
      background-color: #1C1D1B;
    }

    &:hover {
      >div {
        text-shadow: 0 0 0.2em;
      }
    }
  }

  .deck-side, .drawn-side {
    padding: 20px;
  }

  .deck-side {
    .deck {
      display: inline-block;
    }

    .deck-buttons {
      padding: 0 20px;
      float: left;
      text-align: center;

      button {
        width: 80%;
        margin-bottom: 10px;
      }
    }
  }

  .drawn-side {
    padding: 10px;
    height: 40%;
    overflow-x: auto;
    position: relative;

    .drawn-cards-wrapper {
      overflow: visible;

      .drawn-cards {
        padding: 0;
        white-space: nowrap;
        list-style: none;
        position: relative;

        li {
          display: inline-block;
          cursor: pointer;

          &:first-child {
            margin-right: 200px; 
          }
          
          &:not(:first-child) {
            margin-left: -190px;
          }

          &:hover .card {
            z-index: 42;
          }
        }
      }
    }
  }
}
